.title {
  margin-bottom: 20px;
  font-size: 28px;
  color: #444;
}
.list {
  margin: -5px;
}
.item {
  font-size: 20px;
  margin: 5px;
  color: #444;
}
.value {
  color: rgb(141, 108, 67);
  font-weight: 700;
}
